@use '../variables' as variables;

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$Background-Secundary;
    padding: 50px 0;
    gap: 40px;

    span {
        color: white;
        font-size: 32px;
    }

    .experiencesContainer {
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: center;
        gap: 30px;

        .experienceCard {
            display: flex;
            flex-direction: column;
            background-color: #374151;
            border-radius: 14px;
            padding: 30px;
            border: 1px solid #1A395C;

            .containerTop {
                display: flex;
                flex-direction: column;

                .positionShowBtnContainer {
                    display: flex;
                    justify-content: space-between;
    
                    .position {
                        font-size: 28px;
                        font-weight: 400;
                    }
    
                    button {
                        padding: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 5px;
                        border: 0;
                        width: fit-content;
                        height: fit-content;
                    }
    
                    button:hover {
                        opacity: 0.7;
                        cursor: pointer;
                        transition: all;
                        transition-duration: 0.3s;
                    }
                }
    
    
                .companyContainer {
                    display: flex;
                    gap: 5px;
    
                    .iconCompany {
                        color: variables.$Azul-Principal;
                    }
                    .company {
                        font-size: 18px;
                        font-weight: 400;
                        color: variables.$Azul-Principal;
                    }
                }
    
                .timeContainer {
                    display: flex;
                    gap: 5px;
                    padding-top: 5px;
    
                    .iconCalendar {
                        color: #818996;
                    }
                    .time {
                        font-size: 18px;
                        font-weight: 400;
                        color: #9498a0;
                    }
                }
            }


            .descriptionContainer {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                padding-top: 0;

                opacity: 0;
                max-height: 0;
                visibility: hidden;
                overflow: hidden;
                transition: max-height 0.3s ease, opacity 0.3s ease;

                &.visible {
                    opacity: 1;
                    max-height: 150px;
                    visibility: visible;
                    padding-top: 20px;
                }

                .descriptionJob {
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .iconRightArrow {
                        color: variables.$Azul-Principal;
                    }

                    p {
                        color: white;
                    }
                }
            }
    
        }
    }

}

@media screen and (max-width: 640px) and (orientation: portrait) {
    .experience {
        .experiencesContainer {
            width: 100%;

            .experienceCard {
                border-radius: 0;

                .descriptionContainer {

                    &.visible {
                        max-height: 360px;
                    }

                    .descriptionJob {
                        position: relative;
                        
                        .iconRightArrow {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 641px) and (max-width: 768px) and (orientation: portrait) {
    .experience {
        padding: 50px 20px;
        .experiencesContainer {
            width: 100%;

            .experienceCard {

                .descriptionContainer {

                    &.visible {
                        max-height: 320px;
                    }

                    .descriptionJob {
                        position: relative;
                        
                        .iconRightArrow {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: portrait) {
    .experience {
        padding: 50px 20px;
        .experiencesContainer {
            width: 90%;

            .experienceCard {

                .descriptionContainer {

                    &.visible {
                        max-height: 250px;
                    }

                    .descriptionJob {
                        position: relative;
                        
                        .iconRightArrow {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .experience {
        padding: 50px 20px;
        .experiencesContainer {
            width: 100%;

            .experienceCard {

                .descriptionContainer {

                    &.visible {
                        max-height: 250px;
                    }

                    .descriptionJob {
                        position: relative;
                        
                        .iconRightArrow {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }
                }

            }
        }
    } 
}

@media screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    .experience {
        padding: 50px 20px;
        .experiencesContainer {
            width: 80%;

            .experienceCard {

                .descriptionContainer {

                    &.visible {
                        max-height: 250px;
                    }

                    .descriptionJob {
                        position: relative;
                        
                        .iconRightArrow {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }
                }

            }
        }
    } 
}

@media screen and (min-width: 1025px) and (max-width: 1280px) and (orientation: landscape) {
    .experience {
        padding: 50px 20px;
        .experiencesContainer {
            width: 80%;

            .experienceCard {

                .descriptionContainer {

                    &.visible {
                        max-height: 250px;
                    }

                    .descriptionJob {
                        position: relative;
                        
                        .iconRightArrow {
                            position: absolute;
                            top: 0;
                            left: 0;
                        }

                        p {
                            padding-left: 30px;
                        }
                    }
                }

            }
        }
    }
}