@use '../variables' as variables;

.navBar {
    background-color: variables.$Background-Secundary;
    height: 3.7rem;
    z-index: 99;
    border-bottom: 1px solid #1A395C;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    opacity: 0.9;
    padding: 0 30px 0 20px;
    backdrop-filter: blur(10px);
    

    span {
        // color: variables.$Azul-Principal;
        color: variables.$Azul-Principal;
        font-size: 42px;
        font-weight: 600;
    }

    .containerNav {
        display: flex;
        // width: 750px;
        gap: 50px;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: variables.$Azul-Principal;
            transition: all;
            transition-duration: 0.3s;
            cursor: pointer;
        }
    }
}