@use './variables';
@use './styles/navbar';
@use './styles/home';
@use './styles/projects';
@use './styles/skills';

*{
    padding: 0;
    margin: 0;
}


.main{
    background: #111827;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}