@use './variables';
@use './styles/navbar';
@use './styles/home';
@use './styles/projects';
@use './styles/skills';
@use './styles/experience';
@use './styles/contactMe';

*{
    padding: 0;
    margin: 0;
}


.main, html{
    background: #111827;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
}